<div class="overlay">
  <div>
  <h1 class="title">
    {{ title }}
  </h1>

  <!-- table -->
  <div>
  <table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Team</th>
        <th><abbr title="Played">Pld</abbr></th>
        <th><abbr title="Won">W</abbr></th>
        <th><abbr title="Drawn">D</abbr></th>
        <th><abbr title="Lost">L</abbr></th>
        <th><abbr title="Goal difference">GD</abbr></th>
        <th><abbr title="Points">Pts</abbr></th>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
      <tr *ngFor="let team of league">
        <th>0</th>
        <td>{{team.team}}
        </td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>{{team.gd}}</td>
        <td>{{team.points}}</td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>
<div class="buttonwrapper">
  <button class="button" (click)="matchResultsUpdateTable(MUScore, LVScore, THScore, ARScore)">update</button>
</div>
<div class="buttonwrapper">
    <button class="button" (click)="reset()">reset</button>
  </div>

<div>
<table class="table">
<tbody>
    <tr>
        <td><abbr title="Home">Manchester United</abbr></td>
        <td><abbr title="HomeG"></abbr><div>
            <input [(ngModel)]="MUScore" type="number" id="name" name="name" required
               minlength="0" maxlength="2" placeholder="0" size="2">
          </div></td>
        <td><abbr title="AwayG"></abbr><div>
            <input [(ngModel)]="LVScore" type="number" id="name" name="name" required
               minlength="0" maxlength="2" placeholder="0" size="2">
          </div></td>
        <td><abbr title="Away">Liverpool</abbr></td>
    </tr>
    <tr>
        <td><abbr title="Home"></abbr>Tottenham Hotspur</td>
        <td><abbr title="HomeG"></abbr><div>
            <input [(ngModel)]="THScore" type="number" id="name" name="name" required
               minlength="0" maxlength="2" placeholder="0" size="2">
          </div></td>
        <td><abbr title="AwayG"></abbr><div>
            <input [(ngModel)]="ARScore" type="number" id="name" name="name" required
               minlength="0" maxlength="2" placeholder="0" size="2">
          </div></td>
        <td><abbr title="Away">Arsenal</abbr></td>
    </tr>

</tbody>
</table>
</div>
<!--
<br />
<div>
    <table class="table">
    <tbody>
        <tr>
            <td><abbr title="Home">Arsenal</abbr></td>
            <td><abbr title="HomeG"></abbr><div>
                <input [(ngModel)]="MUScore" type="number" id="name" name="name" required
                   minlength="0" maxlength="2" placeholder="0" size="2">
              </div></td>
            <td><abbr title="AwayG"></abbr><div>
                <input [(ngModel)]="LVScore" type="number" id="name" name="name" required
                   minlength="0" maxlength="2" placeholder="0" size="2">
              </div></td>
            <td><abbr title="Away">Manchester United</abbr></td>
        </tr>
        <tr>
            <td><abbr title="Home"></abbr>Liverpool</td>
            <td><abbr title="HomeG"></abbr><div>
                <input [(ngModel)]="THScore" type="number" id="name" name="name" required
                   minlength="0" maxlength="2" placeholder="0" size="2">
              </div></td>
            <td><abbr title="AwayG"></abbr><div>
                <input [(ngModel)]="ARScore" type="number" id="name" name="name" required
                   minlength="0" maxlength="2" placeholder="0" size="2">
              </div></td>
            <td><abbr title="Away">Tottenham Hotspur</abbr></td>
        </tr>
    </tbody>
    </table>
    </div>
    <br />
    <div>
        <table class="table">
        <tbody>
            <tr>
                <td><abbr title="Home">Tottenham Hotspur</abbr></td>
                <td><abbr title="HomeG"></abbr><div>
                    <input [(ngModel)]="MUScore" type="number" id="name" name="name" required
                       minlength="0" maxlength="2" placeholder="0" size="2">
                  </div></td>
                <td><abbr title="AwayG"></abbr><div>
                    <input [(ngModel)]="LVScore" type="number" id="name" name="name" required
                       minlength="0" maxlength="2" placeholder="0" size="2">
                  </div></td>
                <td><abbr title="Away">Manchester United</abbr></td>
            </tr>
            <tr>
                <td><abbr title="Home"></abbr>Liverpool</td>
                <td><abbr title="HomeG"></abbr><div>
                    <input [(ngModel)]="THScore" type="number" id="name" name="name" required
                       minlength="0" maxlength="2" placeholder="0" size="2">
                  </div></td>
                <td><abbr title="AwayG"></abbr><div>
                    <input [(ngModel)]="ARScore" type="number" id="name" name="name" required
                       minlength="0" maxlength="2" placeholder="0" size="2">
                  </div></td>
                <td><abbr title="Away">Arsenal</abbr></td>
            </tr>
        </tbody>
        </table>
        </div>
</div>
-->
</div>