.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  background: #0d449b;
  overflow-y: scroll;
}

.button-wrapper {
  text-align: center;
  background-color: white;
  width: 629px;
 }

 .button {
  margin: 2px;
 }
