.overlay {
   height: auto;
    width: 100%;
    left: 0;
    background: #0d449b;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 50% 50%;
}

.league-table {
    background-color: whitesmoke;
    color: #363636;
    font-family: 'Noto Sans', sans-serif;
    margin: 10px auto 40px auto;
    width: 95%;
  }

  .fixtures-table {
    background-color: whitesmoke;
    color: #363636;
    border-collapse: collapse;
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
  }

  tr:nth-child(even) { background: whitesmoke; }
  tr:nth-child(odd) { background: white; }

  tr:nth-child(17) { border-bottom:2px solid #363636; }

  td,
  th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: 0.5em 0.75em;
    vertical-align: top;
    text-decoration: none;
  }

  thead {
    background-color: transparent;
  }

 thead td,
 thead th {
    border-width: 0 0 2px;
    color: #363636;
    text-decoration: none;
  }

.button-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;

}

.button {
  margin: 2px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
