.league-table {
   background-color: whitesmoke;
   color: #363636;
   border-collapse: collapse;
   margin: 10px 10px 35px 10px;
   font-family: 'Noto Sans', sans-serif;
   float: left;
 }

 tr:nth-child(even) {background: whitesmoke}
 tr:nth-child(odd) {background: white}

 td,
 th {
   border: 1px solid #dbdbdb;
   border-width: 0 0 1px;
   padding: 0.5em 0.75em;
   vertical-align: top;
   text-decoration: none;
 }

 thead {
   background-color: transparent;
 }

thead td,
thead th {
   border-width: 0 0 2px;
   color: #363636;
   text-decoration: none;
 }
