<body>
	<!-- <div><h2 class="title">{{title}}</h2></div> -->
<nav>
		<!--<a href="/PL"> <img class="league-logo" src="/assets/img/premier-league-logo.png" alt="PL Logo"></a>
		<a href="/CH"> <img class="league-logo" src="/assets/img/championship-logo.png" alt="CH Logo"></a>
		<a href="/L1"> <img class="league-logo" src="/assets/img/league-1-logo.png" alt="L1 Logo"></a>-->
		<a href="/PL"> <img class="league-logo" src="/assets/img/pl-logo.png" alt="PL Logo"></a>
		<a href="/CL"> <img class="league-logo" src="/assets/img/cl-logo.png" alt="CL Logo"></a>

</nav>


</body>
